# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode user configure
YukinoDB.xcodeproj/project.xcworkspace/xcshareddata/
YukinoDB.xcodeproj/project.xcworkspace/xcuserdata
YukinoDB.xcodeproj/xcuserdata
third_party/glog/xcode/glog.xcodeproj/xcuserdata
third_party/glog/xcode/glog.xcodeproj/project.xcworkspace
third_party/gtest/xcode/gtest.xcodeproj/xcuserdata
third_party/gtest/xcode/gtest.xcodeproj/project.xcworkspace/xcuserdata
